body {
  margin: 0;
  padding: 0;
}


.rodape{
  background-color: black;
  color: white;
}


.map{
  display: flex;
  justify-content: right;
  margin: 20px;
}

.fim-do-rodape{
  text-align: center;
}

.card{
  width: 98%;
  margin: 3px;
}

.banner-sobre{
  height: 300px;

}
<<<<<<< HEAD
=======


.capa{
  float: left;
  margin: 5px;
}

.filme h1{
  text-align: center;
  margin: 5px;
}

.filme p{
  font-size: 20px;
}

.trailer{
  text-align: center;
}
>>>>>>> 5b99e677aa71cf78dc54cda835b54f4ce605aeb1
